body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

form label {
  display: block;
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 10px 0;
}

button {
  padding: 5px;
}

#message {
  font-weight: bold;
}
